<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Saturday 7 June 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:10am - 10:15am</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Jargon Busting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:25am - 11:30am</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Introduction to F-Droid and installing an app</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:40am - 12:50pm</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Introduction to scheme part 1</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Saturday 21 June 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:10am - 10:20am</td>        <!-- time    -->
        <td>Introduction to version control using Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30am - 11:30am</td>        <!-- time    -->
        <td>Create and manage a web page using Git and remote builds part 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:40am - 12:50pm</td>        <!-- time    -->
        <td>Create and manage a web page using Git and remote builds part 2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Saturday 28 June 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:10am - 10:20am</td>        <!-- time    -->
        <td>Introduction to scheme part 2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30am - 11:40am</td>        <!-- time    -->
        <td>Introduction to scheme part 3</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:50am - 12:50pm</td>        <!-- time    -->
        <td>Introduction to scheme part 4</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>      
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Saturday 12 July</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:10am - 10:20am</td>        <!-- time    -->
        <td>Build a mobile application using Scheme and LambdaNative</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30am - 11:40am</td>        <!-- time    -->
        <td>Test and customize a mobile application</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:50am - 12:50pm</td>        <!-- time    -->
        <td>How to submit your mobile application to F-Droid</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 4   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
